{% extends template ~ '/base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container my-5">
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        <h1>Register</h1>

        {{ form_start(registrationForm) }}
            {{ form_widget(registrationForm)}}
            <button type="submit" class="btn btn-primary">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
