{% if pagination is defined and pagination.nbPages > 1 %}
<nav class="blog-pagination justify-content-center d-flex">
    <ul class="pagination">
        {% if pagination.page > 1 %}
        <li class="page-item">
            <a href="{{ path(pagination.nomRoute, pagination.paramsRoute|merge({'page': pagination.page-1})) }}" class="page-link" aria-label="Previous">
                <span aria-hidden="true">
                    <span class="lnr lnr-chevron-left"></span>
                </span>
            </a>
        </li>
        {% endif %}
        {#}
        {% set min = pagination.page < 5 ? 7 : min(pagination.page + 7, pagination.page + 3) %}
        {% set max = pagination.page < 5 ? 1 : max(pagination.page - 3, 1) %}
        {#}
        {#}{% for p in range(max(pagination.page - 4, 1), min(pagination.page + 4, pagination.nbPages)) %}{#}
        {% if pagination.page < 5 %}
            {% if pagination.nbPages < (pagination.page + 3) %}
                {% set min = min(pagination.page + 7, pagination.nbPages) %}
                {% set max = 1 %}
            {% else %}
                {% set min = 7 %}
                {% set max = 1 %}
            {% endif %}
        {% elseif pagination.page > 5 and pagination.nbPages < (pagination.page + 3) %}
            {% set min = min(pagination.page + 7, pagination.nbPages) %}
            {% set max = max(pagination.page - 3, 1) %}
        {% else %}
            {% set min = min(pagination.page + 7, pagination.page + 3) %}
            {% set max = max(pagination.page - 3, 1) %}
        {% endif %}
        {% for p in range(max, min) %}
            <li class="page-item {% if p == pagination.page %}active{% endif %}">
                <a href="{{ path(pagination.nomRoute, pagination.paramsRoute|merge({'page': p})) }}" class="page-link">
                    {{ p }}
                </a>
            </li>
        {% endfor %}
        {% if pagination.page < pagination.nbPages %}
        <li class="page-item">
            <a href="{{ path(pagination.nomRoute, pagination.paramsRoute|merge({'page': pagination.page+1})) }}" class="page-link" aria-label="Next">
                <span aria-hidden="true">
                    <span class="lnr lnr-chevron-right"></span>
                </span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% else %}
<div class="blog-pagination"></div>
{% endif %}